/* Loading Thmanyah Sans */
@font-face {
    font-family: 'ThmanyahSans';
    src: url('../assets/fonts/thmanyahsans/thmanyahsans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ThmanyahSans';
    src: url('../assets/fonts/thmanyahsans/thmanyahsans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ThmanyahSans';
    src: url('../assets/fonts/thmanyahsans/thmanyahsans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ThmanyahSans';
    src: url('../assets/fonts/thmanyahsans/thmanyahsans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ThmanyahSans';
    src: url('../assets/fonts/thmanyahsans/thmanyahsans-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Loading Thmanyah Serif Display */
@font-face {
    font-family: 'ThmanyahSerifDisplay';
    src: url('../assets/fonts/thmanyahserifdisplay/thmanyahserifdisplay-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ThmanyahSerifDisplay';
    src: url('../assets/fonts/thmanyahserifdisplay/thmanyahserifdisplay-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ThmanyahSerifDisplay';
    src: url('../assets/fonts/thmanyahserifdisplay/thmanyahserifdisplay-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ThmanyahSerifDisplay';
    src: url('../assets/fonts/thmanyahserifdisplay/thmanyahserifdisplay-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ThmanyahSerifDisplay';
    src: url('../assets/fonts/thmanyahserifdisplay/thmanyahserifdisplay-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}